<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.github.satoshun.example">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    <activity android:name=".AppActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".merger.MergerActivity" />
    <activity android:name=".mergeadapter.MergeAdapterActivity" />
    <activity android:name=".mergeadapter.groupie.GroupieMergeAdapterActivity" />
    <activity android:name=".flexbox.FlexboxActivity" />
    <activity android:name=".flexbox2.FlexboxActivity2" />
    <activity android:name=".StaggeredActivity" />
    <activity android:name=".alreadyattached.LayoutManagerAlreadyAttachedActivity" />
    <activity android:name=".inconsistency.InconsistencyDetectActivity" />
    <activity android:name=".diff.DiffActivity" />
    <activity android:name=".diffgroupie.DiffGroupieActivity" />
    <activity android:name=".cardviews.CardViewsActivity" />
    <activity android:name=".cardviewsviewgroup.CardViewsViewGroupActivity" />
    <activity android:name=".itemtouchhelper.ItemTouchHelperActivity" />
    <activity android:name=".disblescroll.DisableScrollActivity" />
    <activity android:name=".horizontalchipbind.HorizontalChipBindActivity" />
  </application>
</manifest>
